.timer {
   height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.btn {
	display: inline-block;
	vertical-align: center;
	border: 1px solid #444;
	background: #444;
	color: #fff;
	padding: 0.6em 2.5em;
	font-size: 1.5em;
	letter-spacing: 0.2em;
}

.controls {
	margin-top: 1em;
}